In [294]:
import pandas as pd
import numpy as np

data = pd.read_csv('./train.csv', header = 0)
data

,sex,age,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree,c_charge_desc,label
0,Male,40,25 - 45,Caucasian,0,0,0,2,M,arrest case no charge,0
1,Male,39,25 - 45,African-American,0,0,0,0,F,Poss Unlaw Issue Id,1
2,Female,22,Less than 25,Caucasian,0,1,1,2,F,arrest case no charge,0
3,Male,44,25 - 45,African-American,0,0,0,1,M,Reckless Driving,0
4,Male,32,25 - 45,Caucasian,0,1,0,2,F,arrest case no charge,0
...,...,...,...,...,...,...,...,...,...,...,...
5044,Male,25,25 - 45,Caucasian,0,1,0,9,F,Burglary Dwelling Occupied,1
5045,Female,34,25 - 45,Caucasian,0,0,0,2,F,Possession of Cannabis,0
5046,Female,28,25 - 45,African-American,0,0,0,1,F,Grand Theft (Motor Vehicle),0
5047,Male,24,Less than 25,Other,0,1,0,9,F,Resist Officer w/Violence,1
5048,Male,23,Less than 25,Caucasian,0,0,0,0,M,Driving Under The Influence,0

In [295]:
race_AA = data[data['race']=='African-American'].index
race_AA

Int64Index([   1,    3,    6,    9,   12,   16,   25,   26,   34,   36,
            ...
            5031, 5032, 5035, 5037, 5038, 5039, 5040, 5042, 5043, 5046],
           dtype='int64', length=2580)

In [296]:
race_CA = data[data['race']=='Caucasian'].index
race_CA

Int64Index([   0,    2,    4,    5,    7,    8,   10,   11,   13,   14,
            ...
            5025, 5028, 5029, 5033, 5034, 5036, 5041, 5044, 5045, 5048],
           dtype='int64', length=1733)

In [297]:
data_label = data[['label']]
# data_label = data_label.astype(int)
data_label

      label
0         0
1         1
2         0
3         0
4         0
...     ...
5044      1
5045      0
5046      0
5047      1
5048      0

[5049 rows x 1 columns]

In [298]:
print(data_label.iat[5047,0])

1

In [299]:
data_features = data.drop(columns='label')
data_features

,sex,age,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree,c_charge_desc
0,Male,40,25 - 45,Caucasian,0,0,0,2,M,arrest case no charge
1,Male,39,25 - 45,African-American,0,0,0,0,F,Poss Unlaw Issue Id
2,Female,22,Less than 25,Caucasian,0,1,1,2,F,arrest case no charge
3,Male,44,25 - 45,African-American,0,0,0,1,M,Reckless Driving
4,Male,32,25 - 45,Caucasian,0,1,0,2,F,arrest case no charge
...,...,...,...,...,...,...,...,...,...,...
5044,Male,25,25 - 45,Caucasian,0,1,0,9,F,Burglary Dwelling Occupied
5045,Female,34,25 - 45,Caucasian,0,0,0,2,F,Possession of Cannabis
5046,Female,28,25 - 45,African-American,0,0,0,1,F,Grand Theft (Motor Vehicle)
5047,Male,24,Less than 25,Other,0,1,0,9,F,Resist Officer w/Violence
5048,Male,23,Less than 25,Caucasian,0,0,0,0,M,Driving Under The Influence

In [300]:
data_features_text = data_features[['c_charge_desc']]
# data_features_text = data_features_text.to_numpy()
# data_features_text = pd.DataFrame(data_features_text)
data_features_text

                    c_charge_desc
0           arrest case no charge
1             Poss Unlaw Issue Id
2           arrest case no charge
3                Reckless Driving
4           arrest case no charge
...                           ...
5044   Burglary Dwelling Occupied
5045       Possession of Cannabis
5046  Grand Theft (Motor Vehicle)
5047    Resist Officer w/Violence
5048  Driving Under The Influence

[5049 rows x 1 columns]

In [301]:
data_features_ohe_withrace = data_features[['sex','age_cat','c_charge_degree','race']]
# data_features_ohe = data_features_ohe.to_numpy()
# data_features_ohe = pd.DataFrame(data_features_ohe)
data_features_ohe_withrace

         sex       age_cat c_charge_degree              race
0       Male       25 - 45               M         Caucasian
1       Male       25 - 45               F  African-American
2     Female  Less than 25               F         Caucasian
3       Male       25 - 45               M  African-American
4       Male       25 - 45               F         Caucasian
...      ...           ...             ...               ...
5044    Male       25 - 45               F         Caucasian
5045  Female       25 - 45               F         Caucasian
5046  Female       25 - 45               F  African-American
5047    Male  Less than 25               F             Other
5048    Male  Less than 25               M         Caucasian

[5049 rows x 4 columns]

In [302]:
data_features_ohe_withoutrace = data_features[['sex','age_cat','c_charge_degree']]
# data_features_ohe = data_features_ohe.to_numpy()
# data_features_ohe = pd.DataFrame(data_features_ohe)
data_features_ohe_withoutrace

         sex       age_cat c_charge_degree
0       Male       25 - 45               M
1       Male       25 - 45               F
2     Female  Less than 25               F
3       Male       25 - 45               M
4       Male       25 - 45               F
...      ...           ...             ...
5044    Male       25 - 45               F
5045  Female       25 - 45               F
5046  Female       25 - 45               F
5047    Male  Less than 25               F
5048    Male  Less than 25               M

[5049 rows x 3 columns]

In [303]:
data_features_num = data_features[['age','juv_fel_count','juv_misd_count','juv_other_count','priors_count']]
# data_features_num = data_features_num.to_numpy()
# data_features_num = pd.DataFrame(data_features_num)
data_features_num

      age  juv_fel_count  juv_misd_count  juv_other_count  priors_count
0      40              0               0                0             2
1      39              0               0                0             0
2      22              0               1                1             2
3      44              0               0                0             1
4      32              0               1                0             2
...   ...            ...             ...              ...           ...
5044   25              0               1                0             9
5045   34              0               0                0             2
5046   28              0               0                0             1
5047   24              0               1                0             9
5048   23              0               0                0             0

[5049 rows x 5 columns]

In [304]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(dtype=int)# dtype=int

enc.fit_transform(data_features_ohe_withrace)
print("enc.categories_:",enc.categories_)
enc_data_features_withrace = enc.transform(data_features_ohe_withrace).toarray()
# print('enc_data_features:', enc_data_features)
enc_data_features_withrace = pd.DataFrame(enc_data_features_withrace) 
print('enc_data_features:', enc_data_features_withrace)

enc.fit_transform(data_features_ohe_withoutrace)
print("enc.categories_:",enc.categories_)
enc_data_features_withoutrace = enc.transform(data_features_ohe_withoutrace).toarray()
# print('enc_data_features:', enc_data_features)
enc_data_features_withoutrace = pd.DataFrame(enc_data_features_withoutrace) 
print('enc_data_features:', enc_data_features_withoutrace)

enc.categories_: [array(['Female', 'Male'], dtype=object), array(['25 - 45', 'Greater than 45', 'Less than 25'], dtype=object), array(['F', 'M'], dtype=object), array(['African-American', 'Asian', 'Caucasian', 'Hispanic',
       'Native American', 'Other'], dtype=object)]
enc_data_features:       0   1   2   3   4   5   6   7   8   9   10  11  12
0      0   1   1   0   0   0   1   0   0   1   0   0   0
1      0   1   1   0   0   1   0   1   0   0   0   0   0
2      1   0   0   0   1   1   0   0   0   1   0   0   0
3      0   1   1   0   0   0   1   1   0   0   0   0   0
4      0   1   1   0   0   1   0   0   0   1   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
5044   0   1   1   0   0   1   0   0   0   1   0   0   0
5045   1   0   1   0   0   1   0   0   0   1   0   0   0
5046   1   0   1   0   0   1   0   1   0   0   0   0   0
5047   0   1   0   0   1   1   0   0   0   0   0   0   1
5048   0   1   0   0   1   0   1   0   0   1   0   0   0

[5049 rows x 13 columns]
enc.categories_: [array(['Female', 'Male'], dtype=object), array(['25 - 45', 'Greater than 45', 'Less than 25'], dtype=object), array(['F', 'M'], dtype=object)]
enc_data_features:       0  1  2  3  4  5  6
0     0  1  1  0  0  0  1
1     0  1  1  0  0  1  0
2     1  0  0  0  1  1  0
3     0  1  1  0  0  0  1
4     0  1  1  0  0  1  0
...  .. .. .. .. .. .. ..
5044  0  1  1  0  0  1  0
5045  1  0  1  0  0  1  0
5046  1  0  1  0  0  1  0
5047  0  1  0  0  1  1  0
5048  0  1  0  0  1  0  1

[5049 rows x 7 columns]

In [305]:
# data_features_text = data_features_text.to_numpy()
data_features_text

                    c_charge_desc
0           arrest case no charge
1             Poss Unlaw Issue Id
2           arrest case no charge
3                Reckless Driving
4           arrest case no charge
...                           ...
5044   Burglary Dwelling Occupied
5045       Possession of Cannabis
5046  Grand Theft (Motor Vehicle)
5047    Resist Officer w/Violence
5048  Driving Under The Influence

[5049 rows x 1 columns]

In [306]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(dtype=int)# dtype=int
enc.fit(data_features_text)
print("enc.categories_:",enc.categories_)
enc_data_features_text = enc.transform(data_features_text).toarray()
# print('enc_data_features:', enc_data_features)
enc_data_features_text = pd.DataFrame(enc_data_features_text) 
print('data_features_text:', enc_data_features_text)

# enc_predict_features_text = enc.transform(predict_features_text).toarray()
# # print('enc_data_features:', enc_data_features)
# enc_predict_features_text = pd.DataFrame(enc_predict_features_text) 
# print('predict_features_text:', enc_predict_features_text)

enc.categories_: [array(['Abuse Without Great Harm', 'Accessory After the Fact',
       'Agg Assault W/int Com Fel Dome', 'Agg Battery Grt/Bod/Harm',
       'Agg Fleeing and Eluding', 'Agg Fleeing/Eluding High Speed',
       'Aggrav Battery w/Deadly Weapon', 'Aggrav Child Abuse-Agg Battery',
       'Aggrav Stalking After Injunctn', 'Aggravated Assault',
       'Aggravated Assault W/Dead Weap', 'Aggravated Assault W/dead Weap',
       'Aggravated Assault W/o Firearm', 'Aggravated Assault w/Firearm',
       'Aggravated Battery', 'Aggravated Battery (Firearm)',
       'Aggravated Battery (Firearm/Actual Possession)',
       'Aggravated Battery / Pregnant', 'Aggravated Battery On 65/Older',
       'Aggress/Panhandle/Beg/Solict', 'Aide/Abet Prostitution Lewdness',
       'Aiding Escape', 'Armed Trafficking in Cannabis',
       'Arson II (Vehicle)', 'Arson in the First Degree', 'Assault',
       'Assault Law Enforcement Officer',
       'Att Burgl Struc/Conv Dwel/Occp', 'Att Burgl Unoccupied Dwel',
       'Att Tamper w/Physical Evidence', 'Attempt Armed Burglary Dwell',
       'Attempt Burglary (Struct)', 'Attempted Burg/Convey/Unocc',
       'Attempted Deliv Control Subst', 'Attempted Robbery  No Weapon',
       'Attempted Robbery  Weapon', 'Attempted Robbery Firearm',
       'Battery', 'Battery Emergency Care Provide',
       'Battery On A Person Over 65', 'Battery On Fire Fighter',
       'Battery On Parking Enfor Speci', 'Battery on Law Enforc Officer',
       'Battery on a Person Over 65', 'Bribery Athletic Contests',
       'Burgl Dwel/Struct/Convey Armed', 'Burglary Assault/Battery Armed',
       'Burglary Conveyance Armed', 'Burglary Conveyance Assault/Bat',
       'Burglary Conveyance Occupied', 'Burglary Conveyance Unoccup',
       'Burglary Dwelling Armed', 'Burglary Dwelling Assault/Batt',
       'Burglary Dwelling Occupied', 'Burglary Structure Occupied',
       'Burglary Structure Unoccup', 'Burglary Unoccupied Dwelling',
       'Burglary With Assault/battery', 'Carjacking w/o Deadly Weapon',
       'Carjacking with a Firearm', 'Carrying A Concealed Weapon',
       'Carrying Concealed Firearm', 'Child Abuse',
       'Compulsory Attendance Violation',
       'Compulsory Sch Attnd Violation', 'Computer Pornography',
       'Consp Traff Oxycodone  4g><14g', 'Consp Traff Oxycodone 28g><30k',
       'Conspiracy Dealing Stolen Prop', 'Conspiracy to Deliver Cocaine',
       'Consume Alcoholic Bev Pub', 'Contradict Statement',
       'Contribute Delinquency Of A Minor', 'Corrupt Public Servant',
       'Counterfeit Lic Plates/Sticker', 'Crim Attempt/Solic/Consp',
       'Crim Attempt/Solicit/Consp', 'Crim Use Of Personal Id Info',
       'Crim Use of Personal ID Info', 'Crimin Mischief Damage $1000+',
       'Criminal Attempt 3rd Deg Felon', 'Criminal Mischief',
       'Criminal Mischief Damage <$200', 'Criminal Mischief>$200<$1000',
       'Cruelty Toward Child', 'Cruelty to Animals',
       'Culpable Negligence', 'D.U.I. Serious Bodily Injury',
       'DOC/Cause Public Danger', 'DUI - Enhanced',
       'DUI - Property Damage/Personal Injury',
       'DUI Blood Alcohol Above 0.20', 'DUI Level 0.15 Or Minor In Veh',
       'DUI Property Damage/Injury', 'DUI- Enhanced',
       'DUI/Property Damage/Persnl Inj', 'DWI w/Inj Susp Lic / Habit Off',
       'DWLS Canceled Disqul 1st Off', 'Dealing In Stolen Property',
       'Dealing in Stolen Property', 'Del 3/4 Methylenedioxymethcath',
       'Del Cannabis At/Near Park', 'Del Cannabis For Consideration',
       'Del Morphine at/near Park', 'Del of JWH-250 2-Methox 1-Pentyl',
       'Deliver 3/4 Methylenediox', 'Deliver Alprazolam',
       'Deliver Cannabis', 'Deliver Cannabis 1000FTSch',
       'Deliver Cocaine', 'Deliver Cocaine 1000FT Park',
       'Deliver Cocaine 1000FT School', 'Delivery Of Drug Paraphernalia',
       'Delivery of 5-Fluoro PB-22', 'Delivery of Heroin',
       'Depriv LEO of Protect/Communic', 'Discharge Firearm From Vehicle',
       'Disorderly Conduct', 'Disorderly Intoxication',
       'Drivg While Lic Suspd/Revk/Can', 'Driving License Suspended',
       'Driving Under The Influence', 'Driving While License Revoked',
       'Escape', 'Exhibition Weapon School Prop',
       'Expired DL More Than 6 Months', 'Exposes Culpable Negligence',
       'Extradition/Defendants', 'Fail Obey Driv Lic Restrictions',
       'Fail Register Career Offender', 'Fail Register Vehicle',
       'Fail To Obey Police Officer', 'Fail To Redeliv Hire/Leas Prop',
       'Fail To Secure Load', 'Failure To Pay Taxi Cab Charge',
       'Failure To Return Hired Vehicle', 'False Imprisonment',
       'False Motor Veh Insurance Card', 'False Name By Person Arrest',
       'False Ownership Info/Pawn Item', 'Falsely Impersonating Officer',
       'Fel Drive License Perm Revoke', 'Felon in Pos of Firearm or Amm',
       'Felony Batt(Great Bodily Harm)', 'Felony Battery',
       'Felony Battery (Dom Strang)', 'Felony Battery w/Prior Convict',
       'Felony Committing Prostitution', 'Felony DUI (level 3)',
       'Felony DUI - Enhanced', 'Felony Driving While Lic Suspd',
       'Felony Petit Theft', 'Felony/Driving Under Influence',
       'Fighting/Baiting Animals', 'Flee/Elude LEO-Agg Flee Unsafe',
       'Fleeing Or Attmp Eluding A Leo', 'Fleeing or Eluding a LEO',
       'Forging Bank Bills/Promis Note', 'Fraud Obtain Food or Lodging',
       'Fraudulent Use of Credit Card', 'Gambling/Gamb Paraphernalia',
       'Giving False Crime Report', 'Grand Theft (Motor Vehicle)',
       'Grand Theft (motor Vehicle)', 'Grand Theft Dwell Property',
       'Grand Theft Firearm', 'Grand Theft In The 3Rd Degree',
       'Grand Theft in the 1st Degree', 'Grand Theft in the 3rd Degree',
       'Grand Theft of a Fire Extinquisher',
       'Grand Theft of the 2nd Degree', 'Grand Theft on 65 Yr or Older',
       'Harass Witness/Victm/Informnt', 'Harm Public Servant Or Family',
       'Hiring with Intent to Defraud', 'Intoxicated/Safety Of Another',
       'Introduce Contraband Into Jail', 'Issuing a Worthless Draft',
       'Kidnapping / Domestic Violence', 'Lease For Purpose Trafficking',
       'Leave Acc/Attend Veh/More $50', 'Leave Accd/Attend Veh/Less $50',
       'Leaving Acc/Unattended Veh', 'Leaving the Scene of Accident',
       'Lewd or Lascivious Molestation', 'Lewd/Lasc Battery Pers 12+/<16',
       'Lewd/Lasciv Molest Elder Persn', 'Lewdness Violation',
       'Live on Earnings of Prostitute', 'Lve/Scen/Acc/Veh/Prop/Damage',
       'Manage Busn W/O City Occup Lic', 'Manslaughter W/Weapon/Firearm',
       'Manufacture Cannabis', 'Misuse Of 911 Or E911 System',
       'Money Launder 100K or More Dols',
       'Murder In 2nd Degree W/firearm', 'Murder in 2nd Degree',
       'Murder in the First Degree', 'Neglect Child / Bodily Harm',
       'Neglect Child / No Bodily Harm', 'None',
       'Obstruct Fire Equipment', 'Offer Agree Secure For Lewd Act',
       'Offer Agree Secure/Lewd Act', 'Open Carrying Of Weapon',
       'Operating W/O Valid License', 'Opert With Susp DL 2ND Offense',
       'Opert With Susp DL 2nd Offens', 'PL/Unlaw Use Credit Card',
       'Petit Theft', 'Petit Theft $100- $300',
       'Pos Cannabis W/Intent Sel/Del', 'Poss 3/4 MDMA (Ecstasy)',
       'Poss Alprazolam W/int Sell/Del', 'Poss Anti-Shoplifting Device',
       'Poss Cntrft Contr Sub w/Intent', 'Poss Cocaine/Intent To Del/Sel',
       'Poss Contr Subst W/o Prescript', 'Poss Counterfeit Payment Inst',
       'Poss Drugs W/O A Prescription', 'Poss F/Arm Delinq',
       'Poss Of Controlled Substance', 'Poss Of RX Without RX',
       'Poss Pyrrolidinobutiophenone', 'Poss Pyrrolidinovalerophenone',
       'Poss Pyrrolidinovalerophenone W/I/D/S',
       'Poss Similitude of Drivers Lic', 'Poss Tetrahydrocannabinols',
       'Poss Trifluoromethylphenylpipe', 'Poss Unlaw Issue Driver Licenc',
       'Poss Unlaw Issue Id', 'Poss Wep Conv Felon',
       'Poss of Cocaine W/I/D/S 1000FT Park',
       'Poss of Firearm by Convic Felo', 'Poss of Methylethcathinone',
       'Poss of Vessel w/Altered ID NO',
       'Poss/Sell/Del Cocaine 1000FT Sch',
       'Poss/Sell/Del/Man Amobarbital', 'Poss/pur/sell/deliver Cocaine',
       'Poss3/4 Methylenedioxymethcath', 'Posses/Disply Susp/Revk/Frd DL',
       'Possess Cannabis/20 Grams Or Less',
       'Possess Controlled Substance', 'Possess Countrfeit Credit Card',
       'Possess Drug Paraphernalia', 'Possess Mot Veh W/Alt Vin',
       'Possess Tobacco Product Under 18',
       'Possess Weapon On School Prop', 'Possess/Use Weapon 1 Deg Felon',
       'Possession Burglary Tools', 'Possession Child Pornography',
       'Possession Firearm School Prop', 'Possession Of 3/4Methylenediox',
       'Possession Of Alprazolam', 'Possession Of Amphetamine',
       'Possession Of Anabolic Steroid', 'Possession Of Carisoprodol',
       'Possession Of Cocaine', 'Possession Of Diazepam',
       'Possession Of Fentanyl', 'Possession Of Heroin',
       'Possession Of Lorazepam', 'Possession Of Methamphetamine',
       'Possession Of Paraphernalia', 'Possession of Alcohol Under 21',
       'Possession of Butylone', 'Possession of Cannabis',
       'Possession of Cocaine', 'Possession of Codeine',
       'Possession of Ethylone', 'Possession of Hydrocodone',
       'Possession of Hydromorphone', 'Possession of LSD',
       'Possession of Morphine', 'Possession of Oxycodone',
       'Present Proof of Invalid Insur', 'Principal In The First Degree',
       'Prostitution', 'Prostitution/Lewd Act Assignation',
       'Prowling/Loitering', 'Purchase Cannabis', 'Purchase Of Cocaine',
       'Purchase/P/W/Int Cannabis', 'Purchasing Of Alprazolam',
       'Reckless Driving', 'Refuse Submit Blood/Breath Test',
       'Refuse to Supply DNA Sample', 'Resist Officer w/Violence',
       'Resist/Obstruct W/O Violence', 'Restraining Order Dating Viol',
       'Retail Theft $300 1st Offense', 'Retail Theft $300 2nd Offense',
       'Ride Tri-Rail Without Paying', 'Robbery / No Weapon',
       'Robbery / Weapon', 'Robbery Sudd Snatch No Weapon',
       'Robbery W/Firearm', 'Sale/Del Cannabis At/Near Scho',
       'Sel Etc/Pos/w/Int Contrft Schd', 'Sell Cannabis',
       'Sell Conterfeit Cont Substance',
       'Sell or Offer for Sale Counterfeit Goods',
       'Sell/Man/Del Pos/w/int Heroin', 'Sex Battery Deft 18+/Vict 11-',
       'Sex Offender Fail Comply W/Law', 'Sexual Battery / Vict 12 Yrs +',
       'Sexual Performance by a Child', 'Shoot In Occupied Dwell',
       'Shoot Into Vehicle', 'Simulation of Legal Process',
       'Solic to Commit Battery', 'Solicit Deliver Cocaine',
       'Solicit Purchase Cocaine', 'Solicit To Deliver Cocaine',
       'Solicitation On Felony 3 Deg', 'Sound Articles Over 100',
       'Stalking', 'Stalking (Aggravated)', 'Strong Armed  Robbery',
       'Structuring Transactions', 'Susp Drivers Lic 1st Offense',
       'Tamper With Victim', 'Tamper With Witness',
       'Tamper With Witness/Victim/CI',
       'Tampering With Physical Evidence', 'Tampering with a Victim',
       'Theft', 'Theft/To Deprive', 'Threat Public Servant',
       'Throw Deadly Missile Into Veh', 'Throw Missile Into Pub/Priv Dw',
       'Traff In Cocaine <400g>150 Kil', 'Traffic Counterfeit Cred Cards',
       'Traffick Hydrocodone   4g><14g', 'Traffick Oxycodone     4g><14g',
       'Trans/Harm/Material to a Minor', 'Trespass Other Struct/Conve',
       'Trespass Private Property', 'Trespass Property w/Dang Weap',
       'Trespass Struct/Conveyance', 'Trespass Structure w/Dang Weap',
       'Trespass Structure/Conveyance', 'Trespassing/Construction Site',
       'Tresspass Struct/Conveyance',
       'Tresspass in Structure or Conveyance',
       'Unauth C/P/S Sounds>1000/Audio', 'Unauth Poss ID Card or DL',
       'Unemployment Compensatn Fraud', 'Unl/Disturb Education/Instui',
       'Unlaw Lic Use/Disply Of Others', 'Unlaw LicTag/Sticker Attach',
       'Unlaw Use False Name/Identity', 'Unlicensed Telemarketing',
       'Use Computer for Child Exploit', 'Use of Anti-Shoplifting Device',
       'Uttering Forged Bills', 'Uttering Forged Credit Card',
       'Uttering Worthless Check +$150', 'Uttering a Forged Instrument',
       'Viol Injunct Domestic Violence', 'Viol Injunction Protect Dom Vi',
       'Viol Pretrial Release Dom Viol', 'Viol Prot Injunc Repeat Viol',
       'Violation License Restrictions', 'Violation Of Boater Safety Id',
       'Violation of Injunction Order/Stalking/Cyberstalking',
       'Voyeurism', 'arrest case no charge'], dtype=object)]
data_features_text:       0    1    2    3    4    5    6    7    8    9    ...  358  359  360  \
0       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
1       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5044    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5045    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5046    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5047    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5048    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

      361  362  363  364  365  366  367
0       0    0    0    0    0    0    1
1       0    0    0    0    0    0    0
2       0    0    0    0    0    0    1
3       0    0    0    0    0    0    0
4       0    0    0    0    0    0    1
...   ...  ...  ...  ...  ...  ...  ...
5044    0    0    0    0    0    0    0
5045    0    0    0    0    0    0    0
5046    0    0    0    0    0    0    0
5047    0    0    0    0    0    0    0
5048    0    0    0    0    0    0    0

[5049 rows x 368 columns]

In [307]:
enc_data_features_withrace = np.append(enc_data_features_withrace, enc_data_features_text, axis=1)
enc_data_features_withrace = np.append(enc_data_features_withrace, data_features_num, axis=1)
enc_data_features_withrace = pd.DataFrame(enc_data_features_withrace)
enc_data_features_withrace

,0,1,2,3,4,5,6,7,8,9,...,376,377,378,379,380,381,382,383,384,385
0,0,1,1,0,0,0,1,0,0,1,...,0,0,0,0,1,40,0,0,0,2
1,0,1,1,0,0,1,0,1,0,0,...,0,0,0,0,0,39,0,0,0,0
2,1,0,0,0,1,1,0,0,0,1,...,0,0,0,0,1,22,0,1,1,2
3,0,1,1,0,0,0,1,1,0,0,...,0,0,0,0,0,44,0,0,0,1
4,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,1,32,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5044,0,1,1,0,0,1,0,0,0,1,...,0,0,0,0,0,25,0,1,0,9
5045,1,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,34,0,0,0,2
5046,1,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,28,0,0,0,1
5047,0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,24,0,1,0,9
5048,0,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,23,0,0,0,0

In [308]:
enc_data_features_withoutrace = np.append(enc_data_features_withoutrace, enc_data_features_text, axis=1)
enc_data_features_withoutrace = np.append(enc_data_features_withoutrace, data_features_num, axis=1)
enc_data_features_withoutrace = pd.DataFrame(enc_data_features_withoutrace)
enc_data_features_withoutrace

,0,1,2,3,4,5,6,7,8,9,...,370,371,372,373,374,375,376,377,378,379
0,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,1,40,0,0,0,2
1,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,39,0,0,0,0
2,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,22,0,1,1,2
3,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,44,0,0,0,1
4,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,32,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5044,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,25,0,1,0,9
5045,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,34,0,0,0,2
5046,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,28,0,0,0,1
5047,0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,24,0,1,0,9
5048,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,23,0,0,0,0

In [309]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
# parameters = { 'max_depth':tune_array_1_50, 'min_samples_split':[2,3,4,5], 'min_samples_leaf':[1] }
decision_tree = DecisionTreeClassifier() # random state=0?

# Get the final result
# decision_tree = decision_tree.fit(enc_data_features, data_label_5000)
# label_predict = decision_tree.predict(enc_data_features_526)
# print("length of label_predict:",len(label_predict))
prediction_withrace = cross_val_predict(decision_tree, enc_data_features_withrace, data_label, cv=5)
prediction_withoutrace = cross_val_predict(decision_tree, enc_data_features_withoutrace, data_label, cv=5)
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

print("Question 1 -----------------------------------------------------------------")
#In confusion matrix, the count of true negatives is C(0,0); the count of false positives is(0,1)

print("f1 score average = None (with race):", f1_score(data_label, prediction_withrace, average=None))
print("f1 score average = macro (with race):", f1_score(data_label, prediction_withrace, average='macro'))
print("accuracy_score (with race):", accuracy_score(data_label, prediction_withrace))
print("confusion_matrix (with race):", confusion_matrix(data_label, prediction_withrace))
cm_withrace = confusion_matrix(data_label, prediction_withrace)
print("fp rate (with race):",cm_withrace[0][1]/(cm_withrace[0][1]+cm_withrace[0][0]))

print("-------------------------------")

print("f1 score average = None (without race):", f1_score(data_label, prediction_withoutrace, average=None))
print("f1 score average = macro (without race):", f1_score(data_label, prediction_withoutrace, average='macro'))
print("accuracy_score (without race):", accuracy_score(data_label, prediction_withoutrace))
print("confusion_matrix (without race):", confusion_matrix(data_label, prediction_withoutrace))
cm_withoutrace = confusion_matrix(data_label, prediction_withoutrace)
print("fp rate (without race):",cm_withoutrace[0][1]/(cm_withoutrace[0][1]+cm_withoutrace[0][0]) )

print("\nQuestion 2 -----------------------------------------------------------------")
# Predicted Positive and True Positive / Predicted Positive
# Predicted Positive and True Positive = True Positive, C(1,1)
# Predicted Positive = True Positive + False Postive, C(1,1) + C(0,1)

print("f1 score average = None (with race):", f1_score(data_label, prediction_withrace, average=None))
print("f1 score average = macro (with race):", f1_score(data_label, prediction_withrace, average='macro'))
print("accuracy_score (with race):", accuracy_score(data_label, prediction_withrace))
print("confusion_matrix (with race):", confusion_matrix(data_label, prediction_withrace))
cm_withrace = confusion_matrix(data_label, prediction_withrace)
print("[Predicted Positive and True Positive / Predicted Positive] rate (with race):",cm_withrace[1][1]/(cm_withrace[1][1]+cm_withrace[0][1]))

print("-------------------------------")

print("f1 score average = None (without race):", f1_score(data_label, prediction_withoutrace, average=None))
print("f1 score average = macro (without race):", f1_score(data_label, prediction_withoutrace, average='macro'))
print("accuracy_score (without race):", accuracy_score(data_label, prediction_withoutrace))
print("confusion_matrix (without race):", confusion_matrix(data_label, prediction_withoutrace))
cm_withoutrace = confusion_matrix(data_label, prediction_withoutrace)
print("[Predicted Positive and True Positive / Predicted Positive] rate (without race):",cm_withoutrace[1][1]/(cm_withoutrace[1][1]+cm_withoutrace[0][1]))

Question 1 -----------------------------------------------------------------
f1 score average = None (with race): [0.65840517 0.58013245]
f1 score average = macro (with race): 0.6192688113724594
accuracy_score (with race): 0.6232917409387998
confusion_matrix (with race): [[1833  930]
 [ 972 1314]]
fp rate (with race): 0.33659066232356133
-------------------------------
f1 score average = None (without race): [0.66022148 0.56157859]
f1 score average = macro (without race): 0.6109000346492404
accuracy_score (without race): 0.6171519112695584
confusion_matrix (without race): [[1878  885]
 [1048 1238]]
fp rate (without race): 0.32030401737242126

Question 2 -----------------------------------------------------------------
f1 score average = None (with race): [0.65840517 0.58013245]
f1 score average = macro (with race): 0.6192688113724594
accuracy_score (with race): 0.6232917409387998
confusion_matrix (with race): [[1833  930]
 [ 972 1314]]
[Predicted Positive and True Positive / Predicted Positive] rate (with race): 0.5855614973262032
-------------------------------
f1 score average = None (without race): [0.66022148 0.56157859]
f1 score average = macro (without race): 0.6109000346492404
accuracy_score (without race): 0.6171519112695584
confusion_matrix (without race): [[1878  885]
 [1048 1238]]
[Predicted Positive and True Positive / Predicted Positive] rate (without race): 0.5831370701837023

In [310]:
print("Question 1 -----------------------------------------------------------------")
print("False positive, African-American, with race:\n")
fp_AA = 0
AN_AA = 0 # Actual negative
for index in race_AA:
    if(data_label.iat[index,0] == 0 and prediction_withrace[index] == 1):
        fp_AA+=1    
    if(data_label.iat[index,0] == 0):
        AN_AA+=1  
print("fp_AA:",fp_AA)
print("Actual negative:",AN_AA)
print("fp rate:",fp_AA/AN_AA)

print("-------------------------------")

print("False positive, African-American , without race:\n")
fp_AA = 0
AN_AA = 0 # Actual negative
for index in race_AA:
    if(data_label.iat[index,0] == 0 and prediction_withoutrace[index] == 1):
        fp_AA+=1    
    if(data_label.iat[index,0] == 0):
        AN_AA+=1  
print("fp_AA:",fp_AA)
print("Actual negative:",AN_AA)
print("fp rate:",fp_AA/AN_AA)

Question 1 -----------------------------------------------------------------
False positive, African-American, with race:

fp_AA: 483
Actual negative: 1228
fp rate: 0.3933224755700326
-------------------------------
False positive, African-American , without race:

fp_AA: 475
Actual negative: 1228
fp rate: 0.38680781758957655

In [311]:
print("Question 2 -----------------------------------------------------------------")
print("False positive, African-American, with race:\n")
pptp_AA = 0 # Predicted Positive and True Positive
pp_AA = 0 # Predicted Positive
for index in race_AA:
    if(data_label.iat[index,0] == 1 and prediction_withrace[index] == 1):
        pptp_AA+=1    
    if(prediction_withrace[index] == 1):
        pp_AA+=1  
print("Predicted Positive and True Positive (AA):",pptp_AA)
print("Predicted Positive (AA):",pp_AA)
print("[Predicted Positive and True Positive / Predicted Positive] rate:",pptp_AA/pp_AA)

print("-------------------------------")

print("False positive, African-American , without race:\n")
pptp_AA = 0
pp_AA = 0 # Actual negative
for index in race_AA:
    if(data_label.iat[index,0] == 1 and prediction_withoutrace[index] == 1):
        pptp_AA+=1    
    if(prediction_withoutrace[index] == 1):
        pp_AA+=1  
print("Predicted Positive and True Positive (AA):",pptp_AA)
print("Predicted Positive (AA):",pp_AA)
print("[Predicted Positive and True Positive / Predicted Positive] rate:",pptp_AA/pp_AA)

Question 2 -----------------------------------------------------------------
False positive, African-American, with race:

Predicted Positive and True Positive (AA): 855
Predicted Positive (AA): 1338
[Predicted Positive and True Positive / Predicted Positive] rate: 0.6390134529147982
-------------------------------
False positive, African-American , without race:

Predicted Positive and True Positive (AA): 803
Predicted Positive (AA): 1278
[Predicted Positive and True Positive / Predicted Positive] rate: 0.6283255086071987

In [312]:
print("Question 1 -----------------------------------------------------------------")
print("False positive, Caucasian, with race:\n")
fp_CA = 0
AN_CA = 0 # Actual negative
for index in race_CA:
    if(data_label.iat[index,0] == 0 and prediction_withrace[index] == 1):
        fp_CA+=1
    if(data_label.iat[index,0] == 0):
        AN_CA+=1  
print("fp_CA:",fp_CA)
print("Actual negative:",AN_CA)
print("fp rate:",fp_CA/AN_CA)

print("-------------------------------")

print("False positive, Caucasian, with out race:\n")
fp_CA = 0
AN_CA = 0 # Actual negative
for index in race_CA:
    if(data_label.iat[index,0] == 0 and prediction_withoutrace[index] == 1):
        fp_CA+=1
    if(data_label.iat[index,0] == 0):
        AN_CA+=1  
print("fp_CA:",fp_CA)
print("Actual negative:",AN_CA)
print("fp rate:",fp_CA/AN_CA)

Question 1 -----------------------------------------------------------------
False positive, Caucasian, with race:

fp_CA: 322
Actual negative: 1067
fp rate: 0.30178069353327086
-------------------------------
False positive, Caucasian, with out race:

fp_CA: 300
Actual negative: 1067
fp rate: 0.28116213683223995

In [313]:
print("Question 2 -----------------------------------------------------------------")
print("False positive, Caucasian, with race:\n")
pptp_CA = 0 # Predicted Positive and True Positive
pp_CA = 0 # Predicted Positive
for index in race_CA:
    if(data_label.iat[index,0] == 1 and prediction_withrace[index] == 1):
        pptp_CA+=1
    if(prediction_withrace[index] == 1):
        pp_CA+=1  
print("Predicted Positive and True Positive (AA):",pptp_CA)
print("Predicted Positive (AA):",pp_CA)
print("[Predicted Positive and True Positive / Predicted Positive] rate:",pptp_CA/pp_CA)

print("-------------------------------")

print("False positive, Caucasian, with out race:\n")
ppta_CA = 0
pp_CA = 0 # Actual negative
for index in race_CA:
    if(data_label.iat[index,0] == 1 and prediction_withoutrace[index] == 1):
        ppta_CA+=1
    if(prediction_withoutrace[index] == 1):
        pp_CA+=1  
print("Predicted Positive and True Positive (AA):",pptp_CA)
print("Predicted Positive (AA):",pp_CA)
print("[Predicted Positive and True Positive / Predicted Positive] rate:",pptp_CA/pp_CA)

Question 2 -----------------------------------------------------------------
False positive, Caucasian, with race:

Predicted Positive and True Positive (AA): 333
Predicted Positive (AA): 655
[Predicted Positive and True Positive / Predicted Positive] rate: 0.5083969465648855
-------------------------------
False positive, Caucasian, with out race:

Predicted Positive and True Positive (AA): 333
Predicted Positive (AA): 615
[Predicted Positive and True Positive / Predicted Positive] rate: 0.5414634146341464