In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('./train.csv', header = 0)
data

,sex,age,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree,c_charge_desc,label
0,Male,40,25 - 45,Caucasian,0,0,0,2,M,arrest case no charge,0
1,Male,39,25 - 45,African-American,0,0,0,0,F,Poss Unlaw Issue Id,1
2,Female,22,Less than 25,Caucasian,0,1,1,2,F,arrest case no charge,0
3,Male,44,25 - 45,African-American,0,0,0,1,M,Reckless Driving,0
4,Male,32,25 - 45,Caucasian,0,1,0,2,F,arrest case no charge,0
...,...,...,...,...,...,...,...,...,...,...,...
5044,Male,25,25 - 45,Caucasian,0,1,0,9,F,Burglary Dwelling Occupied,1
5045,Female,34,25 - 45,Caucasian,0,0,0,2,F,Possession of Cannabis,0
5046,Female,28,25 - 45,African-American,0,0,0,1,F,Grand Theft (Motor Vehicle),0
5047,Male,24,Less than 25,Other,0,1,0,9,F,Resist Officer w/Violence,1
5048,Male,23,Less than 25,Caucasian,0,0,0,0,M,Driving Under The Influence,0

In [2]:
race_AA = data[data['race']=='African-American'].index
race_AA

Int64Index([   1,    3,    6,    9,   12,   16,   25,   26,   34,   36,
            ...
            5031, 5032, 5035, 5037, 5038, 5039, 5040, 5042, 5043, 5046],
           dtype='int64', length=2580)

In [3]:
race_CA = data[data['race']=='Caucasian'].index
race_CA

Int64Index([   0,    2,    4,    5,    7,    8,   10,   11,   13,   14,
            ...
            5025, 5028, 5029, 5033, 5034, 5036, 5041, 5044, 5045, 5048],
           dtype='int64', length=1733)

In [4]:
data_label = data[['label']]
# data_label = data_label.astype(int)
data_label

      label
0         0
1         1
2         0
3         0
4         0
...     ...
5044      1
5045      0
5046      0
5047      1
5048      0

[5049 rows x 1 columns]

In [5]:
print(data_label.iat[5047,0])

1

In [6]:
data_features = data.drop(columns='label')
data_features

,sex,age,age_cat,race,juv_fel_count,juv_misd_count,juv_other_count,priors_count,c_charge_degree,c_charge_desc
0,Male,40,25 - 45,Caucasian,0,0,0,2,M,arrest case no charge
1,Male,39,25 - 45,African-American,0,0,0,0,F,Poss Unlaw Issue Id
2,Female,22,Less than 25,Caucasian,0,1,1,2,F,arrest case no charge
3,Male,44,25 - 45,African-American,0,0,0,1,M,Reckless Driving
4,Male,32,25 - 45,Caucasian,0,1,0,2,F,arrest case no charge
...,...,...,...,...,...,...,...,...,...,...
5044,Male,25,25 - 45,Caucasian,0,1,0,9,F,Burglary Dwelling Occupied
5045,Female,34,25 - 45,Caucasian,0,0,0,2,F,Possession of Cannabis
5046,Female,28,25 - 45,African-American,0,0,0,1,F,Grand Theft (Motor Vehicle)
5047,Male,24,Less than 25,Other,0,1,0,9,F,Resist Officer w/Violence
5048,Male,23,Less than 25,Caucasian,0,0,0,0,M,Driving Under The Influence

In [7]:
data_features_text = data_features[['c_charge_desc']]
# data_features_text = data_features_text.to_numpy()
# data_features_text = pd.DataFrame(data_features_text)
data_features_text

                    c_charge_desc
0           arrest case no charge
1             Poss Unlaw Issue Id
2           arrest case no charge
3                Reckless Driving
4           arrest case no charge
...                           ...
5044   Burglary Dwelling Occupied
5045       Possession of Cannabis
5046  Grand Theft (Motor Vehicle)
5047    Resist Officer w/Violence
5048  Driving Under The Influence

[5049 rows x 1 columns]

In [8]:
data_features_ohe = data_features[['sex','age_cat','c_charge_degree']]
# data_features_ohe = data_features_ohe.to_numpy()
# data_features_ohe = pd.DataFrame(data_features_ohe)
data_features_ohe

         sex       age_cat c_charge_degree
0       Male       25 - 45               M
1       Male       25 - 45               F
2     Female  Less than 25               F
3       Male       25 - 45               M
4       Male       25 - 45               F
...      ...           ...             ...
5044    Male       25 - 45               F
5045  Female       25 - 45               F
5046  Female       25 - 45               F
5047    Male  Less than 25               F
5048    Male  Less than 25               M

[5049 rows x 3 columns]

In [9]:
data_features_num = data_features[['age','juv_fel_count','juv_misd_count','juv_other_count','priors_count']]
# data_features_num = data_features_num.to_numpy()
# data_features_num = pd.DataFrame(data_features_num)
data_features_num

      age  juv_fel_count  juv_misd_count  juv_other_count  priors_count
0      40              0               0                0             2
1      39              0               0                0             0
2      22              0               1                1             2
3      44              0               0                0             1
4      32              0               1                0             2
...   ...            ...             ...              ...           ...
5044   25              0               1                0             9
5045   34              0               0                0             2
5046   28              0               0                0             1
5047   24              0               1                0             9
5048   23              0               0                0             0

[5049 rows x 5 columns]

In [10]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(dtype=int)# dtype=int
# data_features = data_features
enc.fit_transform(data_features_ohe)
print("enc.categories_:",enc.categories_)
enc_data_features = enc.transform(data_features_ohe).toarray()
# print('enc_data_features:', enc_data_features)
enc_data_features = pd.DataFrame(enc_data_features) 
print('enc_data_features:', enc_data_features)

enc.categories_: [array(['Female', 'Male'], dtype=object), array(['25 - 45', 'Greater than 45', 'Less than 25'], dtype=object), array(['F', 'M'], dtype=object)]
enc_data_features:       0  1  2  3  4  5  6
0     0  1  1  0  0  0  1
1     0  1  1  0  0  1  0
2     1  0  0  0  1  1  0
3     0  1  1  0  0  0  1
4     0  1  1  0  0  1  0
...  .. .. .. .. .. .. ..
5044  0  1  1  0  0  1  0
5045  1  0  1  0  0  1  0
5046  1  0  1  0  0  1  0
5047  0  1  0  0  1  1  0
5048  0  1  0  0  1  0  1

[5049 rows x 7 columns]

In [11]:
# data_features_text = data_features_text.to_numpy()
data_features_text

                    c_charge_desc
0           arrest case no charge
1             Poss Unlaw Issue Id
2           arrest case no charge
3                Reckless Driving
4           arrest case no charge
...                           ...
5044   Burglary Dwelling Occupied
5045       Possession of Cannabis
5046  Grand Theft (Motor Vehicle)
5047    Resist Officer w/Violence
5048  Driving Under The Influence

[5049 rows x 1 columns]

In [12]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(dtype=int)# dtype=int
enc.fit(data_features_text)
print("enc.categories_:",enc.categories_)
enc_data_features_text = enc.transform(data_features_text).toarray()
# print('enc_data_features:', enc_data_features)
enc_data_features_text = pd.DataFrame(enc_data_features_text) 
print('data_features_text:', enc_data_features_text)

# enc_predict_features_text = enc.transform(predict_features_text).toarray()
# # print('enc_data_features:', enc_data_features)
# enc_predict_features_text = pd.DataFrame(enc_predict_features_text) 
# print('predict_features_text:', enc_predict_features_text)

enc.categories_: [array(['Abuse Without Great Harm', 'Accessory After the Fact',
       'Agg Assault W/int Com Fel Dome', 'Agg Battery Grt/Bod/Harm',
       'Agg Fleeing and Eluding', 'Agg Fleeing/Eluding High Speed',
       'Aggrav Battery w/Deadly Weapon', 'Aggrav Child Abuse-Agg Battery',
       'Aggrav Stalking After Injunctn', 'Aggravated Assault',
       'Aggravated Assault W/Dead Weap', 'Aggravated Assault W/dead Weap',
       'Aggravated Assault W/o Firearm', 'Aggravated Assault w/Firearm',
       'Aggravated Battery', 'Aggravated Battery (Firearm)',
       'Aggravated Battery (Firearm/Actual Possession)',
       'Aggravated Battery / Pregnant', 'Aggravated Battery On 65/Older',
       'Aggress/Panhandle/Beg/Solict', 'Aide/Abet Prostitution Lewdness',
       'Aiding Escape', 'Armed Trafficking in Cannabis',
       'Arson II (Vehicle)', 'Arson in the First Degree', 'Assault',
       'Assault Law Enforcement Officer',
       'Att Burgl Struc/Conv Dwel/Occp', 'Att Burgl Unoccupied Dwel',
       'Att Tamper w/Physical Evidence', 'Attempt Armed Burglary Dwell',
       'Attempt Burglary (Struct)', 'Attempted Burg/Convey/Unocc',
       'Attempted Deliv Control Subst', 'Attempted Robbery  No Weapon',
       'Attempted Robbery  Weapon', 'Attempted Robbery Firearm',
       'Battery', 'Battery Emergency Care Provide',
       'Battery On A Person Over 65', 'Battery On Fire Fighter',
       'Battery On Parking Enfor Speci', 'Battery on Law Enforc Officer',
       'Battery on a Person Over 65', 'Bribery Athletic Contests',
       'Burgl Dwel/Struct/Convey Armed', 'Burglary Assault/Battery Armed',
       'Burglary Conveyance Armed', 'Burglary Conveyance Assault/Bat',
       'Burglary Conveyance Occupied', 'Burglary Conveyance Unoccup',
       'Burglary Dwelling Armed', 'Burglary Dwelling Assault/Batt',
       'Burglary Dwelling Occupied', 'Burglary Structure Occupied',
       'Burglary Structure Unoccup', 'Burglary Unoccupied Dwelling',
       'Burglary With Assault/battery', 'Carjacking w/o Deadly Weapon',
       'Carjacking with a Firearm', 'Carrying A Concealed Weapon',
       'Carrying Concealed Firearm', 'Child Abuse',
       'Compulsory Attendance Violation',
       'Compulsory Sch Attnd Violation', 'Computer Pornography',
       'Consp Traff Oxycodone  4g><14g', 'Consp Traff Oxycodone 28g><30k',
       'Conspiracy Dealing Stolen Prop', 'Conspiracy to Deliver Cocaine',
       'Consume Alcoholic Bev Pub', 'Contradict Statement',
       'Contribute Delinquency Of A Minor', 'Corrupt Public Servant',
       'Counterfeit Lic Plates/Sticker', 'Crim Attempt/Solic/Consp',
       'Crim Attempt/Solicit/Consp', 'Crim Use Of Personal Id Info',
       'Crim Use of Personal ID Info', 'Crimin Mischief Damage $1000+',
       'Criminal Attempt 3rd Deg Felon', 'Criminal Mischief',
       'Criminal Mischief Damage <$200', 'Criminal Mischief>$200<$1000',
       'Cruelty Toward Child', 'Cruelty to Animals',
       'Culpable Negligence', 'D.U.I. Serious Bodily Injury',
       'DOC/Cause Public Danger', 'DUI - Enhanced',
       'DUI - Property Damage/Personal Injury',
       'DUI Blood Alcohol Above 0.20', 'DUI Level 0.15 Or Minor In Veh',
       'DUI Property Damage/Injury', 'DUI- Enhanced',
       'DUI/Property Damage/Persnl Inj', 'DWI w/Inj Susp Lic / Habit Off',
       'DWLS Canceled Disqul 1st Off', 'Dealing In Stolen Property',
       'Dealing in Stolen Property', 'Del 3/4 Methylenedioxymethcath',
       'Del Cannabis At/Near Park', 'Del Cannabis For Consideration',
       'Del Morphine at/near Park', 'Del of JWH-250 2-Methox 1-Pentyl',
       'Deliver 3/4 Methylenediox', 'Deliver Alprazolam',
       'Deliver Cannabis', 'Deliver Cannabis 1000FTSch',
       'Deliver Cocaine', 'Deliver Cocaine 1000FT Park',
       'Deliver Cocaine 1000FT School', 'Delivery Of Drug Paraphernalia',
       'Delivery of 5-Fluoro PB-22', 'Delivery of Heroin',
       'Depriv LEO of Protect/Communic', 'Discharge Firearm From Vehicle',
       'Disorderly Conduct', 'Disorderly Intoxication',
       'Drivg While Lic Suspd/Revk/Can', 'Driving License Suspended',
       'Driving Under The Influence', 'Driving While License Revoked',
       'Escape', 'Exhibition Weapon School Prop',
       'Expired DL More Than 6 Months', 'Exposes Culpable Negligence',
       'Extradition/Defendants', 'Fail Obey Driv Lic Restrictions',
       'Fail Register Career Offender', 'Fail Register Vehicle',
       'Fail To Obey Police Officer', 'Fail To Redeliv Hire/Leas Prop',
       'Fail To Secure Load', 'Failure To Pay Taxi Cab Charge',
       'Failure To Return Hired Vehicle', 'False Imprisonment',
       'False Motor Veh Insurance Card', 'False Name By Person Arrest',
       'False Ownership Info/Pawn Item', 'Falsely Impersonating Officer',
       'Fel Drive License Perm Revoke', 'Felon in Pos of Firearm or Amm',
       'Felony Batt(Great Bodily Harm)', 'Felony Battery',
       'Felony Battery (Dom Strang)', 'Felony Battery w/Prior Convict',
       'Felony Committing Prostitution', 'Felony DUI (level 3)',
       'Felony DUI - Enhanced', 'Felony Driving While Lic Suspd',
       'Felony Petit Theft', 'Felony/Driving Under Influence',
       'Fighting/Baiting Animals', 'Flee/Elude LEO-Agg Flee Unsafe',
       'Fleeing Or Attmp Eluding A Leo', 'Fleeing or Eluding a LEO',
       'Forging Bank Bills/Promis Note', 'Fraud Obtain Food or Lodging',
       'Fraudulent Use of Credit Card', 'Gambling/Gamb Paraphernalia',
       'Giving False Crime Report', 'Grand Theft (Motor Vehicle)',
       'Grand Theft (motor Vehicle)', 'Grand Theft Dwell Property',
       'Grand Theft Firearm', 'Grand Theft In The 3Rd Degree',
       'Grand Theft in the 1st Degree', 'Grand Theft in the 3rd Degree',
       'Grand Theft of a Fire Extinquisher',
       'Grand Theft of the 2nd Degree', 'Grand Theft on 65 Yr or Older',
       'Harass Witness/Victm/Informnt', 'Harm Public Servant Or Family',
       'Hiring with Intent to Defraud', 'Intoxicated/Safety Of Another',
       'Introduce Contraband Into Jail', 'Issuing a Worthless Draft',
       'Kidnapping / Domestic Violence', 'Lease For Purpose Trafficking',
       'Leave Acc/Attend Veh/More $50', 'Leave Accd/Attend Veh/Less $50',
       'Leaving Acc/Unattended Veh', 'Leaving the Scene of Accident',
       'Lewd or Lascivious Molestation', 'Lewd/Lasc Battery Pers 12+/<16',
       'Lewd/Lasciv Molest Elder Persn', 'Lewdness Violation',
       'Live on Earnings of Prostitute', 'Lve/Scen/Acc/Veh/Prop/Damage',
       'Manage Busn W/O City Occup Lic', 'Manslaughter W/Weapon/Firearm',
       'Manufacture Cannabis', 'Misuse Of 911 Or E911 System',
       'Money Launder 100K or More Dols',
       'Murder In 2nd Degree W/firearm', 'Murder in 2nd Degree',
       'Murder in the First Degree', 'Neglect Child / Bodily Harm',
       'Neglect Child / No Bodily Harm', 'None',
       'Obstruct Fire Equipment', 'Offer Agree Secure For Lewd Act',
       'Offer Agree Secure/Lewd Act', 'Open Carrying Of Weapon',
       'Operating W/O Valid License', 'Opert With Susp DL 2ND Offense',
       'Opert With Susp DL 2nd Offens', 'PL/Unlaw Use Credit Card',
       'Petit Theft', 'Petit Theft $100- $300',
       'Pos Cannabis W/Intent Sel/Del', 'Poss 3/4 MDMA (Ecstasy)',
       'Poss Alprazolam W/int Sell/Del', 'Poss Anti-Shoplifting Device',
       'Poss Cntrft Contr Sub w/Intent', 'Poss Cocaine/Intent To Del/Sel',
       'Poss Contr Subst W/o Prescript', 'Poss Counterfeit Payment Inst',
       'Poss Drugs W/O A Prescription', 'Poss F/Arm Delinq',
       'Poss Of Controlled Substance', 'Poss Of RX Without RX',
       'Poss Pyrrolidinobutiophenone', 'Poss Pyrrolidinovalerophenone',
       'Poss Pyrrolidinovalerophenone W/I/D/S',
       'Poss Similitude of Drivers Lic', 'Poss Tetrahydrocannabinols',
       'Poss Trifluoromethylphenylpipe', 'Poss Unlaw Issue Driver Licenc',
       'Poss Unlaw Issue Id', 'Poss Wep Conv Felon',
       'Poss of Cocaine W/I/D/S 1000FT Park',
       'Poss of Firearm by Convic Felo', 'Poss of Methylethcathinone',
       'Poss of Vessel w/Altered ID NO',
       'Poss/Sell/Del Cocaine 1000FT Sch',
       'Poss/Sell/Del/Man Amobarbital', 'Poss/pur/sell/deliver Cocaine',
       'Poss3/4 Methylenedioxymethcath', 'Posses/Disply Susp/Revk/Frd DL',
       'Possess Cannabis/20 Grams Or Less',
       'Possess Controlled Substance', 'Possess Countrfeit Credit Card',
       'Possess Drug Paraphernalia', 'Possess Mot Veh W/Alt Vin',
       'Possess Tobacco Product Under 18',
       'Possess Weapon On School Prop', 'Possess/Use Weapon 1 Deg Felon',
       'Possession Burglary Tools', 'Possession Child Pornography',
       'Possession Firearm School Prop', 'Possession Of 3/4Methylenediox',
       'Possession Of Alprazolam', 'Possession Of Amphetamine',
       'Possession Of Anabolic Steroid', 'Possession Of Carisoprodol',
       'Possession Of Cocaine', 'Possession Of Diazepam',
       'Possession Of Fentanyl', 'Possession Of Heroin',
       'Possession Of Lorazepam', 'Possession Of Methamphetamine',
       'Possession Of Paraphernalia', 'Possession of Alcohol Under 21',
       'Possession of Butylone', 'Possession of Cannabis',
       'Possession of Cocaine', 'Possession of Codeine',
       'Possession of Ethylone', 'Possession of Hydrocodone',
       'Possession of Hydromorphone', 'Possession of LSD',
       'Possession of Morphine', 'Possession of Oxycodone',
       'Present Proof of Invalid Insur', 'Principal In The First Degree',
       'Prostitution', 'Prostitution/Lewd Act Assignation',
       'Prowling/Loitering', 'Purchase Cannabis', 'Purchase Of Cocaine',
       'Purchase/P/W/Int Cannabis', 'Purchasing Of Alprazolam',
       'Reckless Driving', 'Refuse Submit Blood/Breath Test',
       'Refuse to Supply DNA Sample', 'Resist Officer w/Violence',
       'Resist/Obstruct W/O Violence', 'Restraining Order Dating Viol',
       'Retail Theft $300 1st Offense', 'Retail Theft $300 2nd Offense',
       'Ride Tri-Rail Without Paying', 'Robbery / No Weapon',
       'Robbery / Weapon', 'Robbery Sudd Snatch No Weapon',
       'Robbery W/Firearm', 'Sale/Del Cannabis At/Near Scho',
       'Sel Etc/Pos/w/Int Contrft Schd', 'Sell Cannabis',
       'Sell Conterfeit Cont Substance',
       'Sell or Offer for Sale Counterfeit Goods',
       'Sell/Man/Del Pos/w/int Heroin', 'Sex Battery Deft 18+/Vict 11-',
       'Sex Offender Fail Comply W/Law', 'Sexual Battery / Vict 12 Yrs +',
       'Sexual Performance by a Child', 'Shoot In Occupied Dwell',
       'Shoot Into Vehicle', 'Simulation of Legal Process',
       'Solic to Commit Battery', 'Solicit Deliver Cocaine',
       'Solicit Purchase Cocaine', 'Solicit To Deliver Cocaine',
       'Solicitation On Felony 3 Deg', 'Sound Articles Over 100',
       'Stalking', 'Stalking (Aggravated)', 'Strong Armed  Robbery',
       'Structuring Transactions', 'Susp Drivers Lic 1st Offense',
       'Tamper With Victim', 'Tamper With Witness',
       'Tamper With Witness/Victim/CI',
       'Tampering With Physical Evidence', 'Tampering with a Victim',
       'Theft', 'Theft/To Deprive', 'Threat Public Servant',
       'Throw Deadly Missile Into Veh', 'Throw Missile Into Pub/Priv Dw',
       'Traff In Cocaine <400g>150 Kil', 'Traffic Counterfeit Cred Cards',
       'Traffick Hydrocodone   4g><14g', 'Traffick Oxycodone     4g><14g',
       'Trans/Harm/Material to a Minor', 'Trespass Other Struct/Conve',
       'Trespass Private Property', 'Trespass Property w/Dang Weap',
       'Trespass Struct/Conveyance', 'Trespass Structure w/Dang Weap',
       'Trespass Structure/Conveyance', 'Trespassing/Construction Site',
       'Tresspass Struct/Conveyance',
       'Tresspass in Structure or Conveyance',
       'Unauth C/P/S Sounds>1000/Audio', 'Unauth Poss ID Card or DL',
       'Unemployment Compensatn Fraud', 'Unl/Disturb Education/Instui',
       'Unlaw Lic Use/Disply Of Others', 'Unlaw LicTag/Sticker Attach',
       'Unlaw Use False Name/Identity', 'Unlicensed Telemarketing',
       'Use Computer for Child Exploit', 'Use of Anti-Shoplifting Device',
       'Uttering Forged Bills', 'Uttering Forged Credit Card',
       'Uttering Worthless Check +$150', 'Uttering a Forged Instrument',
       'Viol Injunct Domestic Violence', 'Viol Injunction Protect Dom Vi',
       'Viol Pretrial Release Dom Viol', 'Viol Prot Injunc Repeat Viol',
       'Violation License Restrictions', 'Violation Of Boater Safety Id',
       'Violation of Injunction Order/Stalking/Cyberstalking',
       'Voyeurism', 'arrest case no charge'], dtype=object)]
data_features_text:       0    1    2    3    4    5    6    7    8    9    ...  358  359  360  \
0       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
1       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4       0    0    0    0    0    0    0    0    0    0  ...    0    0    0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
5044    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5045    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5046    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5047    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5048    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

      361  362  363  364  365  366  367
0       0    0    0    0    0    0    1
1       0    0    0    0    0    0    0
2       0    0    0    0    0    0    1
3       0    0    0    0    0    0    0
4       0    0    0    0    0    0    1
...   ...  ...  ...  ...  ...  ...  ...
5044    0    0    0    0    0    0    0
5045    0    0    0    0    0    0    0
5046    0    0    0    0    0    0    0
5047    0    0    0    0    0    0    0
5048    0    0    0    0    0    0    0

[5049 rows x 368 columns]

In [13]:
enc_data_features = np.append(enc_data_features, enc_data_features_text, axis=1)
enc_data_features = np.append(enc_data_features, data_features_num, axis=1)
enc_data_features = pd.DataFrame(enc_data_features)
enc_data_features

,0,1,2,3,4,5,6,7,8,9,...,370,371,372,373,374,375,376,377,378,379
0,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,1,40,0,0,0,2
1,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,39,0,0,0,0
2,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,22,0,1,1,2
3,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,44,0,0,0,1
4,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,32,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5044,0,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,25,0,1,0,9
5045,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,34,0,0,0,2
5046,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,28,0,0,0,1
5047,0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,24,0,1,0,9
5048,0,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,23,0,0,0,0

In [14]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
# parameters = { 'max_depth':tune_array_1_50, 'min_samples_split':[2,3,4,5], 'min_samples_leaf':[1] }
decision_tree = DecisionTreeClassifier() # random state=0?

# Get the final result
# decision_tree = decision_tree.fit(enc_data_features, data_label_5000)
# label_predict = decision_tree.predict(enc_data_features_526)
# print("length of label_predict:",len(label_predict))
prediction = cross_val_predict(decision_tree, enc_data_features, data_label, cv=5)
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
print("f1 score average = None :", f1_score(data_label, prediction, average=None))
print("f1 score average = macro :", f1_score(data_label, prediction, average='macro'))
print("accuracy_score:", accuracy_score(data_label, prediction))
print("confusion_matrix:", confusion_matrix(data_label, prediction))

# # Grid Search hyperparameter tuning
# tune_array_1_20 = list(range(1,21))
# tune_array_2_5 = list(range(2,6))
# tune_array_1_10 = list(range(1,11))
# parameters = { 'max_depth':tune_array_1_20, 'min_samples_leaf':tune_array_1_30,'min_samples_split':tune_array_2_5 }
# clf = GridSearchCV(estimator = decision_tree, param_grid = parameters, scoring = 'accuracy', cv = 3, return_train_score = True, n_jobs=-1)
# clf.fit(enc_data_features_5000, data_label_5000)
# print("best parameters are ", clf.best_params_)
# label_predict = clf.predict(enc_data_features_526)
# print("length of label_predict:",len(label_predict))
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
# print("accuracy_score:", accuracy_score(data_label_526, label_predict))
# print("confusion_matrix:", confusion_matrix(data_label_526, label_predict))

# from sklearn.ensemble import RandomForestClassifier
# decision_tree = RandomForestClassifier(random_state=0)
# decision_tree = decision_tree.fit(enc_data_features_5000, data_label_5000)
# label_predict = decision_tree.predict(enc_data_features_526)
# print("length of label_predict:",len(label_predict))
# from sklearn.metrics import f1_score
# from sklearn.metrics import accuracy_score
# from sklearn.metrics import confusion_matrix
# print("f1 score average = None :", f1_score(data_label_526, label_predict, average=None))
# print("f1 score average = macro :", f1_score(data_label_526, label_predict, average='macro'))
# print("accuracy_score:", accuracy_score(data_label_526, label_predict))
# print("confusion_matrix:", confusion_matrix(data_label_526, label_predict))

f1 score average = None : [0.66173882 0.56476449]
f1 score average = macro : 0.6132516585556219
accuracy_score: 0.6193305605070311
confusion_matrix: [[1880  883]
 [1039 1247]]

In [15]:
data_label

      label
0         0
1         1
2         0
3         0
4         0
...     ...
5044      1
5045      0
5046      0
5047      1
5048      0

[5049 rows x 1 columns]

In [16]:
prediction

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)

In [17]:
print("False positive, African-American:\n")
fp_AA = 0
for index in race_AA:
    if(data_label.iat[index,0] == 0 and prediction[index] == 1):
        print(index)
        fp_AA+=1    
print("fp_AA:",fp_AA)
print("total race_AA:",len(race_AA))
print("fp rate:",fp_AA/len(race_AA))

False positive, African-American:

3
38
49
59
61
69
89
92
97
104
109
116
121
122
132
140
152
167
193
194
197
200
221
222
228
231
239
246
282
283
300
302
304
305
336
345
347
376
413
414
418
421
426
427
432
454
455
466
467
493
504
506
514
578
582
607
619
643
649
654
678
681
684
692
701
705
709
718
723
733
750
793
808
811
817
818
823
824
829
836
837
849
887
890
912
921
936
956
981
987
993
1017
1035
1037
1039
1045
1046
1053
1061
1070
1087
1113
1119
1128
1132
1139
1149
1152
1172
1179
1183
1200
1238
1266
1277
1299
1313
1314
1328
1341
1346
1353
1355
1392
1393
1399
1402
1406
1407
1409
1411
1413
1422
1423
1425
1426
1433
1435
1452
1462
1464
1469
1478
1479
1503
1508
1510
1545
1573
1586
1587
1600
1602
1609
1623
1626
1644
1645
1659
1675
1705
1707
1715
1737
1740
1750
1760
1775
1777
1790
1791
1803
1813
1825
1849
1889
1895
1900
1925
1941
1944
1968
1969
1978
2023
2026
2029
2033
2037
2041
2046
2047
2071
2078
2083
2084
2088
2104
2108
2115
2135
2138
2185
2196
2210
2216
2238
2252
2271
2272
2285
2291
2296
2301
2320
2322
2329
2330
2357
2372
2387
2425
2437
2458
2467
2468
2471
2486
2487
2502
2508
2519
2520
2542
2570
2592
2593
2596
2600
2601
2607
2612
2619
2623
2645
2648
2662
2679
2683
2698
2707
2713
2720
2723
2765
2780
2784
2785
2795
2797
2805
2829
2831
2873
2878
2888
2890
2896
2906
2912
2920
2927
2928
2937
2955
2969
2971
2974
2983
2990
3008
3012
3047
3048
3080
3081
3098
3099
3106
3108
3126
3143
3158
3171
3175
3177
3188
3189
3190
3196
3228
3234
3239
3259
3294
3300
3301
3329
3337
3344
3357
3362
3368
3401
3433
3439
3445
3450
3453
3457
3458
3461
3476
3482
3489
3495
3519
3537
3545
3569
3571
3576
3598
3617
3618
3619
3627
3630
3635
3645
3655
3668
3681
3722
3727
3734
3742
3774
3789
3793
3799
3832
3836
3841
3852
3853
3875
3876
3877
3887
3923
3924
3940
3945
3955
3964
3978
3982
3983
3984
4006
4019
4023
4028
4044
4047
4049
4054
4073
4087
4092
4098
4123
4125
4130
4134
4136
4142
4157
4165
4168
4197
4227
4237
4239
4242
4248
4250
4256
4260
4261
4271
4290
4291
4360
4370
4372
4376
4398
4410
4434
4441
4443
4447
4472
4473
4476
4495
4496
4499
4514
4530
4538
4550
4612
4622
4625
4627
4640
4642
4643
4655
4664
4670
4676
4683
4692
4706
4712
4717
4734
4737
4748
4755
4780
4782
4812
4813
4822
4824
4846
4848
4856
4857
4859
4881
4885
4886
4893
4900
4913
4917
4918
4919
4931
4942
4975
4981
5009
5018
5026
5037
5038
5046
fp_AA: 474
total race_AA: 2580
fp rate: 0.18372093023255814

In [18]:
print("False positive, Caucasian:\n")
fp_CA = 0
for index in race_CA:
    if(data_label.iat[index,0] == 0 and prediction[index] == 1):
        print(index)
        fp_CA+=1    
print("fp_CA:",fp_CA)
print("total race_CA:",len(race_CA))
print("fp rate:",fp_CA/len(race_CA))

False positive, Caucasian:

2
4
11
23
31
35
54
60
91
105
111
150
159
166
214
227
241
264
265
307
386
387
398
402
409
431
435
462
464
465
470
500
502
505
509
525
551
563
584
594
598
611
631
653
666
724
747
757
782
788
791
812
814
816
851
863
873
930
931
933
954
967
972
997
1003
1031
1032
1060
1073
1088
1093
1094
1102
1103
1114
1115
1122
1168
1207
1209
1211
1245
1275
1298
1321
1325
1334
1344
1358
1361
1374
1385
1386
1416
1438
1447
1456
1499
1512
1527
1538
1553
1556
1622
1629
1639
1663
1688
1703
1730
1746
1768
1771
1778
1795
1807
1821
1927
1981
1990
2007
2036
2061
2067
2074
2077
2110
2118
2123
2137
2158
2161
2165
2182
2191
2192
2193
2224
2225
2230
2236
2244
2247
2262
2294
2355
2363
2376
2383
2390
2396
2409
2454
2460
2488
2492
2515
2526
2527
2537
2548
2564
2578
2581
2583
2613
2631
2693
2694
2726
2752
2782
2790
2801
2822
2844
2848
2868
2910
2923
2956
2973
2977
2995
2999
3009
3019
3023
3037
3083
3097
3110
3141
3149
3152
3164
3172
3179
3197
3202
3207
3216
3225
3242
3265
3276
3280
3308
3312
3350
3354
3377
3411
3424
3426
3478
3499
3525
3560
3567
3573
3574
3589
3605
3614
3642
3725
3746
3770
3782
3785
3786
3803
3804
3808
3816
3819
3825
3844
3865
3879
3886
3898
3922
3948
3951
3954
3963
3973
3979
4011
4051
4065
4066
4110
4111
4113
4140
4172
4182
4199
4226
4231
4233
4236
4238
4254
4308
4312
4313
4358
4377
4388
4402
4462
4481
4486
4488
4500
4503
4529
4617
4666
4691
4699
4701
4707
4711
4726
4756
4810
4832
4841
4901
4902
4951
4958
4962
4965
4988
5034
fp_CA: 301
total race_CA: 1733
fp rate: 0.1736872475476053